    {{!-- <script>const customer_id = "{{customer}}"; 
        console.log(customer_id);
       
    </script> --}}
    
    <h2 class="page-title">Book Your Appointment!</h2>         
        <div class="card-deck">
            <div class="card col-6">
                <!-- bring in user from session id and the style from the book button get request -->
                <!-- Appointment -->
               <!-- attributes: ['id', 'customer_id','appointment_date', 'appointment_time' , 'stylist_id'], -->
               <form class="book-appt-form">
                   <h1 >{{service.appointment.customer.id}}</h1>
                <div>
                    <div>
                        <label for="style">Date:</label>
                        <input name="date-book" type="date" id="date-book" class="form-control" value="{{service.style}}"/>
                    </div>
                    <div>
                        <label for="style">Date End:</label>
                        <input name="date-book-end" type="date" id="date-book-end" class="form-control" value="{{service.style}}"/>
                    </div>
                    <div>
                        <label for="style">Time:</label>
                        <input name="time-book" type="time" id="time-book" class="form-control" value="{{service.style}}"/>
                    </div>  
                    <div>
                        <label for="style">Time End:</label>
                        <input name="time-book-end" type="time" id="time-book-end" class="form-control" value="{{service.style}}"/>

                    </div>  
                    <input name="customer_id" type="hidden" id="customer_id" class="" value="{{customer}}"/>
                    <br>
                <div>
                    <button class="btn btn-primary float-left book-appt" type="submit">Book Appointment</button>
                </div>

                </div>
               </form>

            <script src="/javascript/book-appt.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
            </div>
        </div>    
