    <div>
            {{!-- <h2 class="page-title">My Upcoming Appointment</h2> --}}  
         </div>
            <div>
                <div class="row">
                <div class="col">
                <div class="card">
                    <div class="card-header">
                        
                        <h2 class="page-title">{{customer.username}} Your Booking Was Successful!</h2>
                        
                      <h3>You are booked for: {{customer.appointment.service.style}}<br></h3>
                      <h4>On: {{format_date customer.appointment.appointment_date}} at: {{fcustomer.appointment.appointment_time}}</h4>
                    </div>
                    <div class="card-body">
                        {{!-- <div class="calendar" id="calendar">
                            <img src="/images/calendar.png">
                        </div> --}}
                        <h5>Description of Service: {{customer.appointment.service.description}}</h5>
                        <h5>Price: {{customer.appointment.service.price}}</h5>
                        </h5>
                    </div> 
                    <div class="card-footer">
                        <p class="text-center">Thank you for booking with The Cutting Edge</p>
                    </div> 
                   
                </div>
                <div> 
                </div>
            </div>