    
                <div class="row">
                <div class="col">
                <div class="card">
                     <h2 class="page-title bg-light">{{customer.username}} My Bookings!</h2>
                     <ul class='list-group'>
                        {{#each appointment}}
                             <li class='list-group-item'>
                                 <div class="card-header">
                                    <h5 class="font-weight-bold">{{service.style}}<br></h5>
                                 </div>
                                
                                 <p>On: {{format_date appointment_date}} at: {{appointment_time}}<br>
                                 Description of Service: {{service.description}}<br>
                                 Price: ${{service.price}}
                                 </p>
                             </li>
                         </ul>
                    {{/each}}
                    </div>
                    
                    <div class="card-footer">
                        <p class="text-center">Thank you for booking with The Cutting Edge</p>
                    </div> 
                </div>
                <div> 
                </div>
            </div>