<div class="row">
    <div class="col-12 mt-3">
         <div>
            <h2 class="page-title">Edit Service
            <button class="btn float-right"><a href="/admin">Return to Services</a></button></h2>
         </div>
       
        <form class="service-form">
            <div>
                <div class="row">
                <div class="col-6">
                <div>
                    <label for="style">style name:</label>
                    <input type="text" id="style-create" class="form-control" value="{{service.style}}"/>
                </div>
                <div>
                    <label for="category">category: {{service.category}}</label>
                    <select type="text" id="category-create" class="form-control">
                        <option id="" value="">Choose a Category</option>
                        <option id="braids" value="braids">Braids</option>
                        <option id="cuts" value="cuts">Cuts</option>
                        <option id="color" value="color">Color</option>
                        <option id="perms" value="perms">Perms</option>
                    </select>
                </div>
                
                <div>
                    <label for="time_alloted">time needed for style:</label>
                    <input type="time" id="time-create" class="form-control" value="{{service.time_alloted}}"/>
                </div>
                
                </div>
                <div class="col-6">
                <div>
                    <label for="description">description:</label>
                    <textarea class="form-control" name="description-create" value="{{service.description}}">{{service.description}}</textarea>
                </div>
                
                <div>
                    <label for="price">price of service:</label>
                    <input type="decimal" id="price-create" class="form-control" value="{{service.price}}"/>
                </div>
                </div>
                 </div>
                <br>
                <div>
                    <button class="btn btn-danger float-right delete-service" type="button">Delete Service</button> &nbsp;
                    <button class="btn btn-primary float-left update-service" type="submit">Update Service</button>
                   
                </div>
            </div>
           
        </form>
            </div> <!--end card -->
       
        </div> <!--end card-deck -->

    </div> <!--end col -->
</div> <!--end row -->