        <div class="row float-right"> <button id='logout-stylist' class='btn logout float-right'>logout admin</button></div>
        <h2 class="page-title">Add New Service </h2>
       
        <form class="new-service-form">
            <div>
                <div class="row">
                <div class="col-md-6 col-sm-12">
                <div>
                    <label for="style">style name:</label>
                    <input name="style-new" type="text" id="style-new" class="form-control" value="{{service.style}}"/>
                     
                </div>
                <div>
                    <label for="category">category: {{service.category}}</label>
                    <select type="text" id="category" class="form-control" name="category-new">
                        <option value="">Choose a Category</option>
                        <option value="braids">Braids</option>
                        <option value="cuts">Cuts</option>
                        <option value="color">Color</option>
                        <option value="perms">Perms</option>
                    </select>
                </div>
                
                <div>
                    <label for="time_alloted">time needed for style (in minutes):</label>
                    <input type="text" id="time-new" name="time-new" class="form-control" value="{{service.time_alloted}}"/>
                </div>
                
                </div>
                <div class="col-md-6 col-sm-12">
                <div>
                    <label for="description">description:</label>
                    <textarea class="form-control" name="description-new">{{service.description}}</textarea>
                </div>
                
                <div>
                    <label for="price">price of service:</label>
                    <input type="decimal" name="price-new" id="price-new" class="form-control" value="{{service.price}}"/>
                </div>
                </div>
                 </div>
                <br>
                <div>
                    {{!-- <button class="btn btn-danger float-right delete-service" type="button">Delete Service</button> &nbsp; --}}
                    <button class="col-2-md col-xs-12 btn btn-primary float-left new-service" type="submit">Create New Service</button>
                   
                </div>
            </div>
          
        </form>
        <br>
        <hr>

        <h2 class="page-title">Choose Service to Edit</h2>         
        <div class="card-deck">
         
            <div class="card">
                {{#each services as |service|}}
                <div class="row border border-light">
                    <div class="col-3 d-flex justify-content-center align-middle">
                        <figure class="figure">
                            <img class="img-thumbnail " style="max-width:100px; max-height:100px" src="/images/{{category}}.jpg" alt"service category image">  
                             {{service.appointment.customer.id}}  
                        <figcaption class="figure-caption">
                            Category: {{service.category}}
                        </figcaption>
                        </figure>
                      </div>  
                    <div class="col-sm-12 col-md-7"">
                        <div class="card-header">
                            <h5>{{service.style}}</h5>
                        </div>
                        Description: {{service.description}} <br>
                        This style takes: {{service.time_alloted}} minutes<br>
                        ${{service.price}}
                    </div>
                    <div class="col-2-md col-xs-12"><button class="btn justify-content-center align-self-center"><a href="/admin/edit/{{service.id}}">Edit</a></div>
                </div>
                 {{/each}}
            </div> <!--end card -->
       
        </div> <!--end card-deck -->
<script src="/javascript/new-service.js"></script>
<script src="/javascript/admin-logout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>