<div class="row">
    <div class="col-12 mt-3">
        <h2>Choose Your Style!</h2>
        
         <h4>{{category}}</h4>
         
        <div class="card-deck">
         
            <div class="card">
                {{#each services}}
                <div class="row border border-light">
                    <div class="col-3"><img class="img-thumbnail" style="max-width:100px; max-height:100px" src="/images/{{category}}.jpg"></div>
                    <div class="col-7">
                        <div class="card-header">
                            <h5>{{style}}</h5>
                        </div>
                        Description: {{description}} <br>
                        This style takes: {{time_alloted}} <br>
                        ${{price}}
                    </div>
                    <div class="col-2"><button class="btn">Book Now</div>
                </div>
                 {{/each}}
            </div> <!--end card -->
       
        </div> <!--end card-deck -->

    </div> <!--end col -->
</div> <!--end row -->